POSTGRES_USER=jobpostgres
POSTGRES_PASSWORD=jobpassword
POSTGRES_DB=jobdb
# POSTGRES_APP=jobpostgresql
POSTGRES_PORT=5433
POSTGRES_APP=127.0.0.1
SECRET_KEY = 'django-insecure-^u#0@t%m)tyj&!+0df3j)vqwzsm@g631aioi%#2jter$&#sf@+'
GEOCODER_API=UTGUCz1acz3Y1Udh6zBKmurRzN1djkWD
ACCESS_KEY=b
SECRET_KEY=a
BUCKET_NAME=james
ENDPOINT=https://s3.ir-thr-at1.arvanstorage.ir

# AWS_S3_ACCESS_KEY_ID = os.getenv('ACCESS_KEY')
# AWS_S3_SECRET_ACCESS_KEY = os.getenv('SECRET_KEY')
# AWS_STORAGE_BUCKET_NAME = os.getenv('BUCKET_NAME')
# AWS_S3_ENDPOINT_URL = os.getenv('ENDPOINT')
# AWS_S3_FILE_OVERWRITE=True
 